* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B1F3A;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 20px;
}

.logo img {
    margin: 5px;
    width: 10%;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
}

.logo a {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    word-break: break-all;
}

.comprar-ingresso-botao {
    color: #212529;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #FFC300;
}

.links-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: white;
    gap: 40px;
}

.nav-list {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    color: white;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../imagens/hero-img-estadio.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    gap: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    font-weight: 800;
}

.contador {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-size: 22px;
}


#contagem {
    border: black solid 2px;
    padding: 30px;
    border-radius: 20px;
    word-break: break-all;
    background-color: #F8F9FA;
    color: black;
}

#contagem p {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contagem span {
    font-size: 16px;
}

.partidas-destaque {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.section-title{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: black solid 1px;
    border-radius: 3px;
    margin: 10px;
}

.times {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    gap: 40px;
    width: 100%;
}

.times p {
    font-size: 40px;
}

.bandeiras img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.infos {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 5px;
}

.infos p {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.comprar {
    padding: 30px;
}

.comprar a {
    padding: 10px 80px;
    border-radius: 5px;
}

.buscar-ingresso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
    background-color: #F8F9FA;
    
}

.buscar-ingresso select{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 50px 10px 0px;
    width: 10%;
}

.buscar-ingresso button{
    font-weight: 600;
    font-size: 18px;
    padding: 8px 50px;
}

.escolhas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 0px;
    width: 100%;
}

.estadios{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.estadios figcaption{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.estadios article{
    padding-bottom: 30px;
    border-radius: 5px;
}

.categoria-ingressos{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    width: 80%;
    padding-bottom: 10px;
}

.card-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
    flex: 1;
    gap: 20px;
    min-height: 300px;
}

.card-top{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-top: 10px;
}

.card-body{
    width: 202.61px;
    height: 218.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.card-body ul{
    height: 76.8px;
}
