* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: red;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B1F3A;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main {
    display: flex;
    flex: 1;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 20px;
}

.logo img {
    margin: 5px;
    width: 10%;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
}

.logo a {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    word-break: break-all;
}

.comprar-ingresso-botao {
    color: #212529;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #FFC300;
}

.links-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: white;
    gap: 40px;
}

.nav-list {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    color: white;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../imagens/hero-img-estadio.png');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    gap: 20px;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.hero-title {
    font-size: 56px;
    font-weight: 800;
}

.contador{
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-size: 22px;
}


#contagem{
    border: black solid 2px;
    padding: 30px;
    border-radius: 20px ;
    word-break: break-all; 
    background-color: #F8F9FA; 
    color: black;
}

#contagem p{
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contagem span{
    font-size: 16px;
}

